In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

raw_data = {'Eläinlaji' : ['Porsas','Lehmä','Kana','Lohi','Siika','Ihminen'],
           'Elinikä': [6, 8, 2, 1.5, 1.6, 80],
        'Syntyvyys': [6, 2, 9, 34, 36, 2],
        'Populaatio': [1256000, 1187000, 2854000, 659000, 504000, 5600000]}

df = pd.DataFrame(raw_data, columns = ['Eläinlaji', 'Elinikä', 'Syntyvyys','Populaatio'])

df

  Eläinlaji  Elinikä  Syntyvyys  Populaatio
0    Porsas      6.0          6     1256000
1     Lehmä      8.0          2     1187000
2      Kana      2.0          9     2854000
3      Lohi      1.5         34      659000
4     Siika      1.6         36      504000
5   Ihminen     80.0          2     5600000

In [2]:
df.shape

(6, 4)

In [3]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [4]:
df.columns

Index(['Eläinlaji', 'Elinikä', 'Syntyvyys', 'Populaatio'], dtype='object')

In [5]:
df.iloc[1, 1]

8.0